<nav>
  <ul>
    <li>
      <a [routerLink]="['/']">Home</a>
    </li>
    <li>
      <a [routerLink]="['/deferred-views']">Deferred views</a>
    </li>
    <li>
      State
      <ul>
        <li>
          <a [routerLink]="['/', 'state', 'observable']"
            >Service with an Observable</a
          >
        </li>
        <li>
          <a [routerLink]="['/', 'state', 'signal']"
            >Service with an Observable</a
          >
        </li>
      </ul>
    </li>
  </ul>
</nav>

<hr />

<router-outlet />
